.ngLeft {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.ngRight {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}